# ** Игнорирование скомпилированных бинарных файлов **

# Исполняемые файлы
*.exe
*.out
*.app

# Объектные файлы
*.o
*.obj

# Библиотеки
*.lib
*.a
*.dll
*.so
*.dylib

# Файлы предварительно скомпилированных заголовков
*.pch

# ** Игнорирование файлов отладки **

# Файлы отладки Visual Studio
*.pdb
*.ilk

# Файлы журналов
*.log

# ** Игнорирование временных и резервных файлов **

# Временные файлы
*.tmp
*.temp

# Резервные файлы
*.bak

# ** Игнорирование файлов среды разработки **

# Visual Studio
.vs/
*.sln
*.vcxproj*
*.user
*.suo
*.ncb
*.aps
*.vspscc
*.vssscc

# Code::Blocks
*.cbp
*.layout
*.depend

# CLion
.idea/
*.iml

# Eclipse
.cproject
.project

# NetBeans
nbproject/

# ** Игнорирование системных файлов **

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ** Дополнительные настройки **

# Игнорирование директорий сборки (если используются)
build/
bin/
obj/

# Игнорирование пользовательских настроек редактора
*.swp
*~

# Игнорирование файлов, созданных инструментами пакетного менеджера (если используются)
vendor/
libs/
